#app {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mm_page {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.mm_warp {
	clear: both;
	float: none;
}

/* 栅格 */
.mm_container {
	width: 100%;
	max-width: 76rem;
	margin-right: auto;
	margin-left: auto
}

.mm_row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/**
 * 卡片
 */
.mm_card {
	background: #fff;
	border-radius: 0.25rem;
	border: 1px solid rgba(125, 125, 125, 0.25);
	box-shadow: 0 0.25rem 0.5rem 0 rgba(7, 17, 27, 0.1);
	overflow: hidden;
}

.mm_card_body {
	position: relative;
}

.mm_card_head {
	position: relative;
	padding: var(--padding_small) var(--padding_base);
}

.mm_card_head~.mm_card_body {
	border-top: 1px solid rgba(125, 125, 125, 0.25);
}

.mm_card_foot {
	position: relative;
	padding: var(--padding_small) var(--padding_base);
	border-top: 1px solid rgba(125, 125, 125, 0.25);
}

/* 列表 */
.mm_list {display:-webkit-flex;display:flex;flex-flow:row wrap;align-items:flex-start;justify-content:flex-start;}
.mm_list>*{display:block;float:left;list-style:none;position:relative;min-width:8.333333%;}

ul.mm_list li {list-style:none;float:left;overflow:hidden;}
ol.mm_list {list-style-type:none;counter-reset:step;counter-increment:step 0; padding-left: 2.75rem;}
ol.mm_list li::before {content:counter(step);counter-increment:step;position:absolute;left:-1.75rem;top:50%;display:block;width:1.125rem;line-height:1.125rem;text-align:center;background-color:#afbfd4;border-radius:0.125rem;color:#fff;transform:translateY(-50%);letter-spacing:0;font-size:0.75rem;height:1.125rem;}
ol.mm_list li:nth-child(1)::before {background-color:#f12f04;}
ol.mm_list li:nth-child(2)::before {background-color:#ff5000;}
ol.mm_list li:nth-child(3)::before {background-color:#ff9000;}

/* ===  布局控制  === */
.mm_item {
	overflow: hidden;
	position: relative;
	padding: var(--padding_small) var(--padding_base);
}

.mm_item .content {
	overflow: hidden;
}

.item-lr .media {
	float: left;
	margin-right: var(--margin_small);
}

.item-lr .title {
	float: left;
	line-height: var(--height_base);
	margin-right: var(--margin_base);
	min-width: 2.5rem;
}

.item-lr.img-5 .content {
	line-height: var(--height_base);
}

.mobile .mm_item {
	border-top: 1px solid var(--color_border);
	border-bottom: 1px solid var(--color_border);
	margin-top: -1px;
}

/* 基本元素 */
.arrow::after,
.item-arrow .mm_item::after {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	content: "";
	padding: 3px;
	display: block;
	border: solid #999;
	border-width: 0 1px 1px 0;
	transition: all 0.2s;
}


/* ===  表单  === */
.mobile input[type=range],
.mobile input[type=text],
.mobile input[type=number],
.mobile input[type=password],
.mobile input[type=tel],
.mobile input[type=email],
.mobile input[type=date],
.mobile input[type=datetime],
.mobile input[type=time],
.mobile input[type=datetime-local],
.mobile input[type=month],
.mobile input[type=week],
.mobile input[type=url] {
	width: 100%;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.mobile textarea {
	border: none;
	padding: var(--padding_mini) 0;
}

.mobile select~input[type=text],
.mobile select~input[type=number],
.mobile select~input[type=tel] {
	border: 1px solid var(--color_border);
	padding-left: var(--padding_small);
	padding-right: var(--padding_small);
	width: initial;
}
